@mixin wrapper-mob() {
  // width: calc(100vw - 40px);
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin wrapper-tablet() {
  width: 708px;
  padding: 0 30px;
  margin: 0 auto;
}

@mixin wrapper-desktop() {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
