.button {
  position: relative;
  border: none;
  background-color: $accent-color;
  color: $text-button;
  width: 280px;
  line-height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 4px 4px 15px 0 $button-shadow;
  transition: background-color 0.6s ease;
  z-index: 2;
}

.button__text {
  font-family: $font-first;
  font-size: 15px;
  font-weight: 700;
}

.button:hover {
  background-color: $button-hover;
}

@media (min-width: $tablet-width) {
  .button {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }
}
