.chimney-systems {
  padding-top: 50px;
  padding-bottom: 50px;
}

.chimney-systems__wrap {
  @include wrapper-mob;
}

.chimney-systems__title {
  margin-bottom: 15px;
}

.chimney-systems__description {
  p {
    margin-top: 0;
    margin-bottom: 15px;
  }

  p:last-child {
    margin-bottom: 30px;
  }
}

.chimney-systems__list {
  @include clear-list;
  margin-bottom: 30px;
}

.chimney-systems__header {
  p {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.chimney-systems__img {
  margin-bottom: 15px;
  border-radius: 8px;
}

.chimney-systems__img:last-child {
  margin-bottom: 0;
}

.chimney-systems__footer {
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .chimney-systems {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .chimney-systems__wrap {
    @include wrapper-tablet;
  }

  .chimney-systems__title {
    margin-bottom: 40px;
  }

  .chimney-systems__list {
    margin-bottom: 40px;
  }

  .chimney-systems__description {
    p:last-child {
      margin-bottom: 40px;
    }
  }

  .chimney-systems__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 30px;
  }

  .chimney-systems__img {
    width: 335px;
    height: 204px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .chimney-systems__footer {
    grid-column: 1 / -1;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .chimney-systems {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .chimney-systems__wrap {
    @include wrapper-desktop;
  }

  .chimney-systems__title {
    margin-bottom: 52px;
  }

  .chimney-systems__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 52px;
  }

  .chimney-systems__description:first-child {
    margin-bottom: 0;
  }

  .chimney-systems__item {
    height: 339px;
    column-gap: 30px;
    grid-template-rows: 170px auto;
    margin-bottom: 52px;
  }

  .chimney-systems__img {
    width: 584px;
    height: 339px;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .chimney-systems__footer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .chimney-systems__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
