.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  background-color: $tech-color;
  padding-top: 24px;
  z-index: 3;
  display: none;
}

.nav__list {
  @include clear-list;
  @include wrapper-mob;
}

.nav__item {
  margin-bottom: 16px;
  color: $basic-white;
  line-height: 1.5;
  font-size: 14px;

  a {
    text-decoration: none;
    color: $basic-white;
  }
}

.nav__materials {
  @include clear-list;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  background-color: $tech-color;
  @include wrapper-mob;
  padding-top: 19px;
  z-index: 10;
  display: none;
}

.nav__materials-item {
  margin-bottom: 16px;
}

.nav__materials-item--back {
  margin-bottom: 25px;
}

.nav__item-materials {
  cursor: pointer;
}

.nav__button-back {
  position: relative;
  left: -6px;
  width: 29px;
  height: 29px;
  border: none;
  cursor: pointer;
  background-color: $tech-color;
  background-repeat: no-repeat;
  background-image: url('../img/arrow-left.svg');
  background-position: center;
}

@media (min-width: $tablet-width) {
  .nav {
    padding-top: 40px;
  }

  .nav__list {
    @include wrapper-tablet;
  }

  .nav__materials {
    @include wrapper-tablet;
    padding-top: 85px;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    position: static;
    display: block;
    background-color: inherit;
    padding: 0;
  }

  .nav__item {
    position: relative;
    color: $main-color;
    font-family: $font-first;
    font-size: 16px;
    margin-bottom: 0;

    a {
      color: $main-color;
    }
  }

  .nav__item:hover {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      background-color: $main-color;
    }
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 457px;
  }
}

