.offer {
  @include wrapper-mob;
}

.offer__wrap {
  position: relative;
  padding-top: 28px;
  padding-bottom: 386px;

  &::before {
    position: absolute;
    content: "";
    width: 428px;
    height: 361px;
    left: -117px;
    top: -72px;
    background-image: url("../img/rounds.svg");
  }

  &::after {
    position: absolute;
    content: "";
    width: 290px;
    height: 299px;
    left: 50%;
    bottom: 42px;
    transform: translateX(-50%);
    background-image: url("../img/main-image.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-image@2x.png");
      background-size: 290px 299px;
    }
  }
}

.offer__title {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 26px;
  color: $main-color;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 18px;
}

.offer__description {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .offer {
    @include wrapper-tablet;
  }

  .offer__wrap {
    padding-top: 65px;
    padding-bottom: 755px;

    &::before {
      width: 929px;
      height: 783px;
      left: -274px;
      top: -200px;
      background-image: url("../img/rounds-tablet.svg");
      background-repeat: no-repeat;
    }

    &::after {
      width: 910px;
      height: 910px;
      bottom: -40px;
      left: 60%;
      background-image: url("../img/main-image-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-image-tablet@2x.png");
        background-size: 910px 910px;
      }
    }
  }

  .offer__title {
    font-size: 52px;
    margin-bottom: 25px;
  }

  .offer__description {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    @include wrapper-desktop;
  }

  .offer__wrap {
    width: 692px;
    padding-top: 88px;
    padding-bottom: 193px;

    &::before {
      width: 1079px;
      height: 852px;
      background-image: url("../img/rounds-desktop.svg");
      left: -374px;
    }

    &::after {
      bottom: 0;
      left: 150%;
      top: -150px;
    }
  }

  .offer__description {
    width: 526px;
  }
}
