.page {
  height: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $font-second;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $basic-white;
  overflow-x: hidden;

  min-height: 100%;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
  }
}
