.roof-coverings {
  background-color: $background-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.roof-coverings__wrap {
  @include wrapper-mob;
}

.roof-coverings__list {
  @include clear-list;
}

.roof-coverings__title {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .roof-coverings {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .roof-coverings__wrap {
    @include wrapper-tablet;
  }

  .roof-coverings__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .roof-coverings__title {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .roof-coverings {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .roof-coverings__wrap {
    @include wrapper-desktop;
  }

  .roof-coverings__title {
    margin-bottom: 52px;
  }
}
